APP_NAME=InfoKampus
APP_ENV=production
APP_DEBUG=false
APP_URL=https://infongeampus.up.railway.app
APP_KEY=

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=file
FILESYSTEM_DISK=local
LOG_LEVEL=warning
